*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #2E2B74;
    color: white;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h2{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

body p{
    margin-top: 20px;
    text-align: center;
}

#contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 1px -2px black;
}

img{
    width: 200px;
    height: 100px;
}

.contenedor-inicial{
    background-color: white;
    padding: 35px 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: #2E2B74;
    box-shadow: 5px 5px 14px -7px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.label-inicio{
    font-weight: bold;
}

.formulario-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check-inicial{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

input[type="checkbox"]:checked{
    accent-color: #2E2B74;
}

.container-vista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 30px;
    width: max-content;
    background-color: white;
    color: #2E2B74;
    box-shadow: 5px 5px 14px -7px rgba(0,0,0,0.75);
}

.container-inputs div {
    margin-bottom: 10px;
}

.container-botones{
    display: flex;
    justify-content: center;
}

input[type="radio"]{
    accent-color: #2E2B74;
}

.boton{
    padding: 5px 10px;
    background-color: white;
    border: 2px solid #2E2B74;
    border-radius: 5px;
}

.boton:hover{
    outline: none;
    border: 2px solid lightgray;
    background-color: #2E2B74;
    color: white;
}

.container-construccion{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 21px;
}

input:focus{
    outline: none;
    border: 2px solid blue;
}

.container-franquicia{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 0px;
}

.input-franquicia{
    display: flex;
    flex-direction: row;
}

.container-resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2E2B74;
    background-color: white;
    width: max-content;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 14px -7px rgba(0,0,0,0.75);
}

.resumen-seguro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    padding: 0px 30px;
    height: 180px;
}

.resumen-seguro h2{
    text-align: center;
}

.resumen-h2{
    margin: 0;
    height: 0px;
    margin-bottom: 57px;
}